<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.webbeansvipul.psstore">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- for card.io card scanning -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"

        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <compatible-screens>

        <!-- no small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" /> <!-- approximately 120 dpi -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" /> <!-- approximately 160 dpi -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" /> <!-- approximately 240 dpi -->
        <screen
            android:screenDensity="280"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" /> <!-- approximately 320 dpi -->
        <screen
            android:screenDensity="360"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="420"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="480"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="560"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="640"
            android:screenSize="small" /> <!-- Workaround -->


        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" /> <!-- approximately 120 dpi -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" /> <!-- approximately 160 dpi -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" /> <!-- approximately 240 dpi -->
        <screen
            android:screenDensity="280"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" /> <!-- approximately 320 dpi -->
        <screen
            android:screenDensity="360"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="420"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="480"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="560"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="640"
            android:screenSize="normal" /> <!-- Workaround -->


        <!-- all large size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />

        <!-- all xlarge size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />

        <!-- Special case for Nexus 7 -->
        <screen
            android:screenDensity="213"
            android:screenSize="large" />

        <!-- xxhdpi -->

        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="xlarge" />
    </compatible-screens>

    <application
        android:name="com.webbeansvipul.psstore.PSApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/launchericon"
        android:label="@string/app__app_name"
        android:largeHeap="true"
        android:theme="@style/Base.PSTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name="com.webbeansvipul.psstore.ui.checkout.CheckoutActivityR"
            android:exported="true"
            ></activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.webbeansvipul.psstore.ui.apploading.AppLoadingActivity"
            android:label="@string/app__app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.webbeansvipul.psstore.MainActivity"
            android:label="@string/app__app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.webbeansvipul.psstore.ui.category.CategoryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name="com.webbeansvipul.psstore.ui.rating.RatingListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name="com.webbeansvipul.psstore.Madhu.LabTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemenew" />

        <activity
            android:name="com.webbeansvipul.psstore.Madhu.AskDoctorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemenew" />

        <activity
            android:name="com.webbeansvipul.psstore.Madhu.DrListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemenew" />

        <activity
            android:name="com.webbeansvipul.psstore.Madhu.BookAppoinment"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemenew" />

        <activity
            android:name="com.webbeansvipul.psstore.Madhu.DrAppoinment"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemenew" />

        <activity
            android:name="com.webbeansvipul.psstore.Madhu.ReminderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemenew" />

        <activity
            android:name="com.webbeansvipul.psstore.Madhu.UploAdPrescriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemenew" />

        <activity
            android:name="com.webbeansvipul.psstore.Madhu.UploadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemenew" />

        <activity
            android:name="com.webbeansvipul.psstore.ui.user.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name="com.webbeansvipul.psstore.ui.transaction.list.TransactionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />


        <activity
            android:name="com.webbeansvipul.psstore.ui.user.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.user.UserLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.user.UserForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.user.PasswordChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.product.filtering.FilteringActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.notification.detail.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.transaction.detail.TransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.checkout.CheckoutActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.setting.NotificationSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.setting.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.setting.AppInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.product.favourite.FavouriteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <meta-data
            android:name="com.webbeansvipul.psstore.utils.CustomCachingGlideModule"
            android:value="AppGlideModule" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/global__accent" /> <!-- <service android:name=".utils.FirebaseInstanceIDService" android:stopWithTask="false"> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="PsStoreChannelId1" />

        <service android:name="com.webbeansvipul.psstore.utils.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.webbeansvipul.psstore.ui.product.detail.ProductActivity" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.comment.detail.CommentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.notification.list.NotificationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.product.list.ProductListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.comment.list.CommentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.gallery.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.terms.TermsAndConditionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.gallery.detail.GalleryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity android:name="com.webbeansvipul.psstore.ui.basket.BasketListActivity" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.product.search.SearchByCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.product.history.UserHistoryListActivity"
            android:label="@string/title__activity_user_history_list"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.stripe.StripeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.webbeansvipul.psstore.ui.collection.CollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.blog.list.BlogListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.blog.detail.BlogDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.forceupdate.ForceUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.user.verifyemail.VerifyEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.privacyandpolicy.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.user.phonelogin.PhoneLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name="com.webbeansvipul.psstore.ui.user.verifyphone.VerifyMobileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_j0M7IX2M5QUJCk" />
    </application>

</manifest>